.nav-header-student {
    color: white;
   
  }
  
  
  
  .navbar-student{
    background-color: #323e4f;
  }

  .body-class{
    margin-top: 120px;
  }
  .add-button {
    background-color: rgb(120, 211, 203);
  }